<!-- 
Title: trejo-assignment 3.2.ejs
Author: Professor Krasso
Date: 01 21 2022
Modified By: Allan Trejo
Description: EJS views for ejs-view assignment Logging and advance routing 
Attribution: Trying out Bulma css https://bulma.io
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Document</title>
</head>

<body>
    <section class="box is-full">
        <div class="container">
            <h1 class="title">
                Hello Employee <%=employeeId%>
            </h1>
            <p class="subtitle">
                Testing out Css <strong>Bulma</strong>!
            </p>
            <p class="control">
                <button class="button is-link">
                    Save changes
                </button>
            </p>
        </div>

    </section>
</body>

</html>