<!-- 
Title: trejo-assignment 6.4.ejs index.ejs
Author: Professor Krasso
Date: 02 10 2022
Modified By: Allan Trejo
Description: Small application using EJS
Attribution: Bulma css framework https://bulma.io
 -->
<%- include ("header") %>
    <div class="container is-fluid">
        <%- include ('navbar') %>

            <section class="hero is-fullheight "
                style="background-image: url('https://images.unsplash.com/photo-1576836165612-8bc9b07e7778?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');background-repeat: no-repeat; background-size: cover;">

                <div class="hero-body">
                    <div class="container has-text-left">
                        <p class="title is-1 has-text-primary">
                            EMS
                        </p>
                        <p class="subtitle has-text-primary is-family-code">
                            Fastest Query Machine <br>on the Planet
                        </p>
                    </div>

                </div>

            </section>
            <div class="level mt-6 p-5" style="background-color: rgb(0, 209, 178);">
                <div class="level-item has-text-centered ">
                    <div>
                        <p class="heading has-text-white ">Tweets</p>
                        <p class="title has-text-white">3,456</p>
                    </div>
                </div>
                <div class="level-item has-text-centered ">
                    <div>
                        <p class="heading has-text-white">Following</p>
                        <p class="title has-text-white">123</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading has-text-white">Followers</p>
                        <p class="title has-text-white">456K</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading has-text-white">Likes</p>
                        <p class="title has-text-white">789</p>
                    </div>
                </div>
            </div>





    </div>

    <%- include ("scripts") %>
        <%- include ("footer") %>