<!-- 
Title: trejo-assignment 6.4.ejs navbar.ejs
Author: Professor Krasso
Date: 02 10 2022
Modified By: Allan Trejo
Description: Small application using EJS
Attribution: Bulma css framework https://bulma.io
 -->
<nav class="navbar ">
    <div class="" style="width: 100%;">
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <div class="tabs is-boxed">
                    <ul>
                        <li>
                            <a href="/">
                                <span class="title is-2">EMS</span>
                            </a>
                        </li>
                        <li>
                            <a href="/new">

                                <span>New</span>
                            </a>
                        </li>
                        <li>
                            <a href="/list">

                                <span>List</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <input class="input" type="text" placeholder="Search" [aria-label="search" ]>
                            <span class="icon is-left">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>
                    <div class="buttons">
                        <a class="button is-dark">Github</a>
                        <a class="button is-primary">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>