<!-- 
Title: trejo-assignment 6.4.ejs index.ejs
Author: Professor Krasso
Date: 02 10 2022
Modified By: Allan Trejo
Description: Small application using EJS
Attribution: Bulma css framework https://bulma.io
 -->

<p>Read-only page with the selected employee’s details</p>