<!-- 
Title: trejo-assignment 3.4.ejs about.ejs
Author: Professor Krasso
Date: 01 21 2022
Modified By: Allan Trejo
Description: Simple application using EJS
Attribution: Bulma css framework https://bulma.io
 -->
<%- include ("header") %>
    <div class="tabs is-centered">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li class="is-active"><a href="/contact">Contact</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Component
            </p>
            <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </header>
        <div class="card-content">
            <div class="content">
                <h2>
                    <%=message %>
                </h2>
                <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Save</a>
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
        </footer>
    </div>

    <%- include ("footer")%>