<!-- 
Title: trejo-assignment 3.4.ejs footer.ejs
Author: Professor Krasso
Date: 01 21 2022
Modified By: Allan Trejo
Description: Simple application using EJS
Attribution: Bulma css framework https://bulma.io
 -->
</body>

</html>